<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExpWSMovimientosSoapBinding" />
                <binding name="ImpWSMovimientoSoapBinding" />
                <binding name="ExpWSStockActualSoapBinding" />
                <binding name="ExpWSArticulosSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://201.221.29.3:8080/libra/servlet/aexpwsmovimientos"
                binding="basicHttpBinding" bindingConfiguration="ExpWSMovimientosSoapBinding"
                contract="EXPWSMovements.ExpWSMovimientosSoapPort" name="ExpWSMovimientosSoapPort" />
            <endpoint address="http://201.221.29.3:8080/libra/servlet/aimpwsmovimiento"
                binding="basicHttpBinding" bindingConfiguration="ImpWSMovimientoSoapBinding"
                contract="IMPWSMovements.ImpWSMovimientoSoapPort" name="ImpWSMovimientoSoapPort" />
            <endpoint address="http://201.221.29.3:8080/libra/servlet/aexpwsstockactual"
                binding="basicHttpBinding" bindingConfiguration="ExpWSStockActualSoapBinding"
                contract="EXPWSStock.ExpWSStockActualSoapPort" name="ExpWSStockActualSoapPort" />
            <endpoint address="http://201.221.29.3:8080/libra/servlet/aexpwsarticulos"
                binding="basicHttpBinding" bindingConfiguration="ExpWSArticulosSoapBinding"
                contract="EXPWSArticulos.ExpWSArticulosSoapPort" name="ExpWSArticulosSoapPort" />
        </client>
    </system.serviceModel>
</configuration>